/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body {
    background-color: #D5E1EF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    width: 320px;
    height: 500px;
    border-radius: 5%;
    position: relative;
    padding: 15px 15px 0 15px;
    text-align: center;
}

.qr-img {
    width: 100%; 
    height: auto; 
    border-radius: 5%;
}

.card h2 {
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    line-height: 130%;
    color: #1F314F;
    text-shadow: 2px 4px 4px rgb(126, 123, 123);
}

.card p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 115%;
    color: #7D889E;
}
